<h2>Welcome to {{title}}</h2>
<p>Click <a href="/user">here</a> to use Bookmarks application</p><br><br>
<!--<p align="center" onclick="viewComments()"><input type='button' value='View Reviews' onclick='viewComments()''></p>-->
<div id="comments"></div>
<script src="/javascripts/default.js"></script>