<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
  	<h1>Bookmarks</h1>
  	<nav><a href="/">Home</a><a href="/user">Login</a><a href="/user/register">Register</a><a href="/user/bookmarks">Dashboard</a><a href="/user/logout">Logout</a></nav>
    <hr>
    <div class="body">
    {{{body}}}
  </div>
  </div>
  </body>
</html>
